.slideshow {
  margin: 0 80px 0 210px;
}

.slideshow label, .slideshow em {
  /*font-family: 'Futura Bk BT';*/
  font-family: monospace;
}

.input-group label, .input-group input[type="text"] {
  height: 32px;
  float: left;
}

.input-group label {
  font-size: 20px;
  color: #b2b3b3;
  margin: 0px;
  border: 1px solid #21263b;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 140px;
  padding-left: 10px;
  background-color: #21263b;
  font-weight: normal;
}

.slideshow em {
  font-size: 20px;
  font-style: normal;
  color: #21263b;
  border-radius: 3px;
  background-color: #d6d7d8;
  padding: 3px;
  display: inline-block;
  height: 30px;
}

.input-group input[type="text"] {
      font-size: 18px;
      font-weight: lighter;
      font-style: italic;
      color: #616264;
      padding-left: 5px;
      padding-right: 5px;
      border: 1px solid #b2b3b3;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      width: 216px;
}

.input-group:after {
  content: "";
  clear: both;
  display: table;
}

.slideshow .source {
  margin-top: 20px;
}

.slideshow pre.source {
  font-size: 16px;
}

.slideshow pre.source .hljs {
  background-color: transparent;
}

.slideshow .nav-tabs {
  margin-top: 20px;
  border-bottom-width: 0;
  margin-left: 20px;
}

.slideshow .nav-tabs :not(.active) a {
  cursor: pointer;
  color: #8b8895;
}

.slideshow .nav-tabs .active a,
.slideshow .nav-tabs .active a:hover {
  background-color: #f5f5f5;
  cursor: default;
}

.slideshow .tab-content .source {
  margin-top: 0;
}

button {
  font-size: 16px;
  /*font-family: 'Futura Bk BT';*/
  height: 30px;
  margin-left: 10px;
  background: #d6d7d8;
  border: 0;
  border-radius: 3px;
  color: #8b8895;
  outline: none;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3)
}
button:hover {
  background: #21263b;
  color: #b2b3b3;
}
button:active {
  background: #d6d7d8;
  color: #8b8895;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.8) inset;
}
.done {
  text-decoration: line-through;
}

.greeting {
  font-size: 18px;
  margin-top: 10px;
}

ul#date-info {
  list-style: none;
  line-height: 28px;
  font-size: 16px;
  width: 310px;
  padding-left: 0;
}

ul#date-info li {
  margin-bottom: 10px;
}

ul#date-info li em {
  width: 170px;
  float: right;
}

ul#date-info li:after {
  content: "";
  clear: both;
  display: table;
}



/* content styles */
