<h3>Контроллеры</h3>

<p>Контроллеры используються для передачи данных и обработчиков событий в шаблон через <em>$scope</em>.</p>

<div source>
  <div ng-controller="taskController">
    <form>
      <div class="input-group">
        <label>Задача</label>
        <input type="text" ng-model="task.title" autofocus="true">
      <button type="sabmit" ng-click="addTask()">Добавить задачу</button>
      </div>
    </form>
    <ul>
      <li ng-repeat="task in tasks" ng-class="{'done': task.done}">
        <input type="checkbox" ng-model="task.done"> {{task.title}}
      </li>
    </ul>
  </div>
</div>

<include-source></include-source>

<include-source language="javascript">
controller('taskController', ['$scope', function($scope) {

    $scope.tasks = [
      {
        title: "Потготовить слайды"
      }
    ]

    $scope.addTask = function () {
      $scope.tasks.push(angular.copy($scope.task));
      $scope.task.title = '';
    }
  }])
</include-source>
